.login-form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 10px 0 10px 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.login-form .btn-login {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4caf50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.login-form .btn-login:hover,
form .btn-login:active,
form .btn-login:focus {
  background: #43a047;
}

.login-form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.message span {
  color: blue;
  text-decoration-line: underline;
}

.message span:hover {
  cursor: pointer;
}

.tamano {
  font-size: 10px;
  color: gray;
  margin-bottom: 0;
}
